Searched for: <%= @search_terms %>
<% @collated_results.each do |item, availabilities| -%>
======================================================
<%= item.title %>
By <%= item.author %>
Format: <%= item.format %>
Availability:
<% availabilities.each do |availability| -%>
  <%= AvailabilityDescription.new(availability).to_s %>
<% end -%>
<% end -%>
